# Java
*.class
 
# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
*.iml
*.iws
out/
 
# Mac
.DS_Store
 
# Maven
log/
target/
 
# svn
.svn/
 
scandir/



